.title-container {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 10px;
  color: white;

  background-image: url("../public/images/background.jpg");
  background-size: cover;
  background-position: center;

  height: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.title-container h1 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin: 0;
}

.title-container h2 {
  font-size: 1.5rem;
  font-weight: lighter;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin-top: 10px;
  max-width: 80%; /* 부제목의 최대 너비 */
  line-height: 1.5;
}
